<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.StudentMapper">

	<!--1 学生、教师实体映射 =======嵌套的resultMap=============== -->

	<resultMap id="studentResultMap1" type="Student">
		<id property="id" column="s_id" />
		<result property="name" column="s_name" />
		<result property="gender" column="s_gender" />
		<result property="major" column="s_major" />
		<result property="grade" column="s_grade" />
		<!--使用resultMap属性引用下面的教师实体映射 -->
		<association property="supervisor" javaType="Teacher"
			column="s_supervisor_id" resultMap="demo.mapper.TeacherMapper.teacherResultMap" />
	</resultMap>
	<!-- 
	<resultMap id="supervisorResultMap1" type="Teacher">
		<id property="id" column="t_id" />
		<result property="name" column="t_name" />
		<result property="gender" column="t_gender" />
		<result property="researchArea" column="t_research_area" />
		<result property="title" column="t_title" />
	</resultMap>  -->

	<sql id="Base_Column_List">
		student.s_id,
		student.s_name,
		student.s_gender,
		student.s_major,
		student.s_grade,
		student.s_supervisor_id,
		teacher.t_name,
		teacher.t_gender,
		teacher.t_research_area,
		teacher.t_title,
		teacher.t_id
	</sql>
	<select id="getById1" parameterType="string" resultMap="studentResultMap1">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		student
		LEFT JOIN teacher ON teacher.t_id = student.s_supervisor_id
		WHERE
		student.s_id=#{id}
	</select>
	
	<!--2学生、教师实体映射 =======嵌套的SELECT語句=============== -->

	<select id="getById2" parameterType="string" resultMap="studentResultMap2">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		student
		LEFT JOIN teacher ON teacher.t_id = student.s_supervisor_id
		WHERE
		student.s_id=#{id}
	</select>
	<select id="selectSupervisor" parameterType="string"
		resultMap="demo.mapper.TeacherMapper.teacherResultMap">
		select t_id,t_name,t_gender,t_title,t_research_area
		from teacher where t_id=#{id}
	</select>
	<resultMap id="studentResultMap2" type="Student">
		<id property="id" column="s_id" />
		<result property="name" column="s_name" />
		<result property="gender" column="s_gender" />
		<result property="major" column="s_major" />
		<result property="grade" column="s_grade" />
		<!--column="supervisor_id"不能少。此列的值作为参数 传递给要引用的select语句，用来查询相应学生的指导教师 的信息。select属性指定要引用的select语句 -->
		<association property="supervisor" javaType="Teacher"
			column="s_supervisor_id" select="selectSupervisor" />
	</resultMap>
	<!--教师实体映射 
	<resultMap id="supervisorResultMap2" type="Teacher">
		<id property="id" column="t_id" />
		<result property="name" column="t_name" />
		<result property="gender" column="t_gender" />
		<result property="researchArea" column="t_research_area" />
		<result property="title" column="title" />
	</resultMap>-->
	
	<insert id="innertStudent" parameterType="Student">
		insert into student(s_id) values
			(#{id})
	</insert>
  <update id="updateBatch"  parameterType="java.util.List">
      
          <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update student 
                <set>
                  s_grade = #{item.grade}
                </set>
                where s_id = #{item.id}
         </foreach>
          
    </update>
</mapper>